---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For more recent and updated list of publications, please visit <a href="https://scholar.google.com/citations?user=xQI5ar8AAAAJ&hl=en&oi=ao">my Google Scholar profile</a>.</div>
{% endif %}

Journal articles
======
International Journals (indexed by Scopus and/or ISI Thomson Reuters)

1. D.S.E. Atmaja, S. Wibirama, M.K. Herliansyah, A. Sudiarso, "Comparative Study of Integral Image and Normalized Cross-Correlation Methods for Defect Detection on Batik Klowong Fabric",  Results in Engineering, Vol. 25, pp. 104124, 2025. (IF: 5.0). https://doi.org/10.1016/j.rineng.2025.104124
2. S. Rosidah, F.X. Ivan, S. Murnani, H. Nurlatifa, and S. Wibirama, "Impact of Color, Shape, and Typeface on Visual Attention: An Eye Tracking-Based User Experience Study", ASEAN Journal on Science and Technology for Development (AJSTD), Vol. 42, No. 1, Article 2, 2025, pp.10-26 (SJR: 0.262). https://ajstd.ubd.edu.bn/journal/vol42/iss1/2
3. A.H. Fristiana, S.A.I Alfarozi, A.E. Permansari, M. Pratama, S. Wibirama, "A Survey on Hyperparameters Optimization of Deep Learning for Time Series Classification,"  IEEE Access, Vol.12, pp. 191162-191198, 2024 (IF: 3.4). https://doi.org/10.1109/ACCESS.2024.3516198

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



